<div id="switch_locale_flags_container">
    <ul>
        <li>
            <a href="{{ path('devmeup_switch_locale', {'locale' : 'fr'}) }}">
            <img src="/bundles/devmeupswitchlocale/images/flags/16/France.png"/>
            </a>
        </li>
        <li>
            <a href="{{ path('devmeup_switch_locale', {'locale' : 'en'}) }}">
            <img src="/bundles/devmeupswitchlocale/images/flags/16/United_Kingdom.png"/>
            </a>
        </li>
    </ul> 
    
</div>
